<div ng-switch="authCtrl.isLoggedIn">
    <div ng-switch-when="false">
        <form method="post" ng-submit="authCtrl.doLogin()">
            <input type="text" placeholder="username" name="username" ng-model="authCtrl.loginData.username">
            <input type="password" placeholder="password" name="password" ng-model="authCtrl.loginData.password">
            <button type="submit">Log In</button>
        </form>
        <div ng-if="!authCtrl.isPending && authCtrl.info.error.login">
            {{ authCtrl.info.error.login }}
        </div>
    </div>
    <div ng-switch-when="true">
        logged as: {{ authCtrl.currentUser.username }}
        <a href="" ng-click="authCtrl.doLogout()">Logout</a>
    </div>
</div>